---
title: resume
theme: dark
---
<h1>resume</h1>

<div id="resume">

    <div class="column">
        <h2>Education</h2>

        <h3>Manchester Community College</h3>
        <p>
            <span class="year">2009</span>
            Web Design Certificate
        </p>
        <p>
            <span class="year">2008</span>
            Associates Degree in Graphic Design
        </p>
    
        <h2>
            Employment
        </h2>
    
        <h3>NorAm International Partners, Inc.</h3>
        <p>
            <span class="year">2016</span>
            Web Developer
        </p>
        <p>
            <span class="year">2012</span>
            Data Analyst
        </p>
        <p>
            <span class="year">2012</span>
            Purchase Order Manager
        </p>
        <p>
            <span class="year">2011</span>
            European Operations Consultant
        </p>
        <p>
            <span class="year">2011</span>
            Textbook Trade-in Trainer
        </p>
        <p>
            <span class="year">2010</span>
            Textbook Trade-in Scanner
        </p>
    
        <h3>Sears</h3>
        <p>
            <span class="year">2008</span>
            Merchandise Customer Assistant
        </p>
    
        <h3>J.P. Sercel Associates</h3>
        <p>
            <span class="year">2007</span>
            Graphic Design Intern
        </p>
    
        <h3>CGI Group Inc.</h3>
        <p>
            <span class="year">2003</span>
            Document Management / Shipper
        </p>
    </div>

    <div class="gutter"></div>

    <div class="column technical-list">
        <h2>Technical experience</h2>
        
        <h3>Languages</h3>
        <p>
            {% include icons/language-php.svg %}
            PHP
        </p>
        <p>
            {% include icons/language-html5.svg %}
            HTML5
        </p>
        <p>
            {% include icons/language-css3.svg %}
            CSS3
        </p>
        <p>
            {% include icons/language-javascript.svg %}
            JavaScript
        </p>
        <p>
            {% include icons/language-typescript.svg %}
            TypeScript
        </p>
        
        <h3>Frameworks</h3>
        <p>
            {% include icons/laravel.svg %}
            Laravel
        </p>
        <p>
            {% include icons/angular.svg %}
            Laravel
        </p>
        
        <h3>Software</h3>
        <p>
            {% include icons/database.svg %}
            MySQL
        </p>
        <p>
            {% include icons/apple-keyboard-command.svg %}
            MacOS
        </p>
        <p>
            {% include icons/linux.svg %}
            Linux (Ubuntu, CentOS)
        </p>
        <p>
            {% include icons/visual-studio-code.svg %}
            Visual Studio Code
        </p>
        
        <h3>Practices</h3>
        <p>
            {% include icons/git.svg %}
            Version control
        </p>
        <p>
            {% include icons/source-pull.svg %}
            Pull requests / code review
        </p>
        <p>
            {% include icons/cloud-check.svg %}
            Automated testing / deployment
        </p>
        
    </div>

</div>