---
title: work
theme: dark
---
<h1>work</h1>

<div class="work-container">

	{% for post in site.posts %}
		{% if post.layout contains 'work' %}
			{% assign image = post.images[0] %}
			<div class="work-thumb" style="background-image: url('{{ image.url }}');">
				<div class="work-thumb-overlay">
					<div class="work-info">
						<span class="work-title">{{ post.title }}</span>
						<span class="work-desc">{{ post.excerpt }}</span>	
						<div class="work-links">
							{% if post.external-url %}
								<a href="{{ post.external-url }}" target="_blank">
									<span class="fa fa-external-link"></span>
								</a>
							{% endif %}
							<a href="{{ image.url }}" data-lightbox="work" data-title="{{ post.title }}">
								<span class="fa fa-search-plus"></span>
							</a>
						</div>
					</div>
				</div>
			</div>
		{% endif %}
	{% endfor %}
	<div class="clearfix"></div>
	
</div>