---
title: work
theme: dark
---
<h1>work</h1>

<div class="work-container">

	{% for post in site.posts %}
		{% if post.layout contains 'work' %}
			{% assign image = post.images[0] %}
			<div class="work-thumb" style="background-image: url('{{ image.url }}');">
				<div class="work-thumb-overlay">
					<div class="work-info">
						<span class="work-title">{{ post.title }}</span>
						<span class="work-desc">{{ post.excerpt }}</span>	
						<a href="{{ post.url }}" class="work-magnify">
							<img src="/assets/icons/magnify.svg" alt="see larger image">
						</a>
					</div>
				</div>
			</div>
		{% endif %}
	{% endfor %}
	<div class="clearfix"></div>
	
</div>