---
layout: default
---
<div class="grid grid-cols-1 md:grid-cols-3  gap-4">
	<section>
		<img src="{{ site.baseurl }}/assets/headshot.jpg" alt="Photo of Andrew" class="object-cover rounded-xl" />
	</section>

	<section class="p-4 rounded-xl md:col-span-2 bg-gradient-to-br from-gray-200 to-blue-200">
		{% include about.html %}		
	</section>

	<section class="p-4 rounded-xl bg-gray-200 md:col-span-2">
		{% include resume.html %}
	</section>

	<div class="flex flex-col gap-4">
		<section class="p-4 rounded-xl bg-gradient-to-tr from-red-200 to-purple-200">
			{% include tech-experience.html %}
		</section>
		<section class="p-4 rounded-xl bg-gradient-to-br from-yellow-200 to-teal-200 overflow-hidden">
			<div class="flex items-center gap-3">
				{% include icons/github.svg %}
				<span class="text-lg">Check me out on Github</span>
			</div>
			<a href="https://github.com/AndrewMonty" class="block mt-3 font-semibold hover:underline">
				https://github.com/AndrewMonty
			</a>
		</section>
	</div>
</div>
