<!-- jquery -->
<script src="{{ site.baseurl }}/js/vendor/jquery.min.js"></script>

<!-- lightbox2 -->
<script src="{{ site.baseurl }}/js/vendor/lightbox.min.js"></script>
<script>
    lightbox.option({
		'resizeDuration': 200,
		'wrapAround': true
    })
</script>


<!-- smoothscrolling -->
<script src="{{ site.baseurl }}/js/vendor/smoothscroll.js"></script>

<!-- menutoggle script -->
<script src="{{ site.baseurl }}/js/menutoggle.js"></script>

<!-- customer header scroll function -->
<script src="{{ page.baseurl }}/js/headerscroll.js"></script>

<!-- skillbars function -->
<script src="{{ page.baseurl }}/js/skillbars.js"></script>

<footer>
	<a href="{{ site.url }}">{{ site.url }}</a>
</footer>