<header>

  <div class="wrapper">

    <nav class="nav left">
      <a class="logo" href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}{{ site.logo }}" alt="" class="logo">
      </a>
      <div class="clearfix"></div>
    </nav>

    <nav id="#menu" class="nav right">
      {% for section in site.sections %}
        <a class="section-link" href="{{ site.baseurl }}#{{ section.title }}">{{ section.title }}</a>
      {% endfor %}
    </nav>

    <button class="hamburger cmn-toggle-switch cmn-toggle-switch__htx"><span></span></button>

    <div class="clearfix"></div>

  </div>

</header>