<div class="prose prose-neutral">
    <h2>Resume</h2>
    
    <h3>Education</h3>
        
    <h4>Manchester Community College</h4>
    <p>
        <span class="text-gray-400 font-mono">2009</span>
        Web Design Certificate
    </p>
    <p>
        <span class="text-gray-400 font-mono">2008</span>
        Associates Degree in Graphic Design
    </p>
    
    <h2>
        Employment
    </h2>
    
    <h4>JLE Industries</h4>
    <p>
        <span class="text-gray-400 font-mono">2020</span>
        Web Developer
    </p>
    
    <h4>NorAm International Partners, Inc.</h4>
    <p>
        <span class="text-gray-400 font-mono">2016</span>
        Web Developer
    </p>
    <p>
        <span class="text-gray-400 font-mono">2012</span>
        Data Analyst
    </p>
    <p>
        <span class="text-gray-400 font-mono">2012</span>
        Purchase Order Manager
    </p>
    <p>
        <span class="text-gray-400 font-mono">2011</span>
        European Operations Consultant
    </p>
    <p>
        <span class="text-gray-400 font-mono">2011</span>
        Textbook Trade-in Trainer
    </p>
    <p>
        <span class="text-gray-400 font-mono">2010</span>
        Textbook Trade-in Scanner
    </p>
    
    <h4>Sears</h4>
    <p>
        <span class="text-gray-400 font-mono">2008</span>
        Merchandise Customer Assistant
    </p>
    
    <h4>J.P. Sercel Associates</h4>
    <p>
        <span class="text-gray-400 font-mono">2007</span>
        Graphic Design Intern
    </p>
    
    <h4>CGI Group Inc.</h4>
    <p>
        <span class="text-gray-400 font-mono">2003</span>
        Document Management / Shipper
    </p>
</div>
