// scss variables to be used sitewide
// mostly colors

// Our variables
$base-font-family: Open Sans, Arial, Helvetica, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$brand-color:      #F15A24;
$text-color:       #323232;
$text-light:	   #FDFDFD;
$background-color: #fdfdfd;
$background-dark:  #323232;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// some defaults for vertical padding
$padding-comfy:	   80px;
$padding-cozy:	   50px;
$padding-squished: 20px;

$padding-default:  $padding-comfy;

// transitions

@mixin transitions($time) {
	
	// only transition the color for outline
	// it looks weird when the size transitions
    -webkit-transition: outline 0;
    -moz-transition: outline 0;
    -ms-transition: outline 0;
    -o-transition: outline 0;
    transition: outline 0;
    -webkit-transition: outline-color $time;
    -moz-transition: outline-color $time;
    -ms-transition: outline-color $time;
    -o-transition: outline-color $time;
    transition: outline-color $time;

    // everything else transition
    -webkit-transition: all $time;
    -moz-transition: all $time;
    -ms-transition: all $time;
    -o-transition: all $time;
    transition: all $time;

}

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-tablet:        800px;
$on-laptop:        960px;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}