form {

	padding: $padding-default;
		
	* {

		box-sizing: border-box;
		@include transitions(0.5s);

	}

	input, input[type="text"], input[type="email"], textarea {

		width: 100%;
		padding: 15px;
		margin-bottom: 20px;
		border: none;
		background: $grey-color-light;

		font-size: inherit;
		font-family: inherit;

		outline: 4px solid $background-color;

		&:focus {
			outline: 4px solid $grey-color;
		}

	}

	label {

		display: block;

	}

	input[type="submit"] {

		&:hover {

			cursor: pointer;
			background: darken($grey-color-light,10%);

		}

	}

	.input-group {

		position: relative;
		width: 50%;
		float: left;

		&:first-of-type {
		
			padding-right: 10px;

		}

		&:last-of-type {

			padding-left: 10px;

		}

	}



}