header {

	z-index: 99999;
	position: fixed;
	top: 0;

	display: inline-block;
	width: 100%;

	background: none;

	// @media screen and ( max-width: $on-tablet ) {

	// 	height: 70px;

	// }

	@include transitions(0.3s);

	&.scrolled {
		
		background: rgba(255,255,255,0.9);

		nav {

			
			&.left {

				display: inline-block;

			}
			
			&.right {
				
				float: right;

			}

		}

	}

	& * {
	
		@include transitions(1s);

	}

	#hamburger {

		background: none;
		position: absolute;
		top: 0;
		right: -100%;
		padding: 20px;

		span, span:before, span:after {

			background-color: #000;
		
		}

		&.active {

			background: none;

			span {

				background: none;
				
			}

			span:before, span:after {

				background-color: $brand-color;
			
			}			

		}

		@include transitions(0.5s);	

		@media screen and ( max-width: $on-tablet ) {
			
			right: 0;

		}

	}

	nav {

		display: block;

		&.left {

			display: none;
			float: left;

		}

		&.right {

			text-align: center;
			width: auto;
			margin: 0 auto;

			@media screen and ( max-width: $on-tablet ) {

				position: absolute;
				box-sizing: border-box;
				top: 0;
				right: -100%;
				font-size: 2em;
				width: 80%;
				padding: 25%;
				background: #fff;

				// display: table;
				
				&.active {

					right: 0;
	
					&:before {
						content: " ";
						position: absolute;
						top: 0;
						left: -30%;
						width: 30%;
						height: 100%;
						background: rgba($grey-color-dark,0.5);
					}
					
				}

			}

		}

		.logo {

			box-sizing: border-box;
			height: 50px;
			position: relative;
			padding: 5px 0;
			
			@media screen and ( max-width: $on-tablet ) {
				
				height: 70px;

			}
		}	

		a.section-link {

			font-weight: 700;
			display: inline-block;
			padding: $padding-squished;
			text-decoration: none;
			text-transform: uppercase;

			@media screen and ( max-width: $on-tablet ) {

				display: block;
				// text-align: left;
				padding: 50px 0;

			}

		}

	}
}