#resume {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
    .column {
        flex: 1 1 auto;
        min-width: 200px;
    }

    .gutter {
        width: $padding-default;
    }

    h1 {
        margin-bottom: 0;
    }

    h2 {
        text-align: left;
        margin-top: $padding-default;
        margin-bottom: 0;
    }

    h3 {
        font-weight: 500;
        margin-top: 30px;
    }

    .year {
        font-family: monospace;
        opacity: 0.4;
        margin-right: 20px;
    }
}

.technical-list {
    list-style-type: none;
    p {
        display: flex;
        flex-direction: row;
        align-content: center;
    }
    svg {
        width: 32px;
        height: 32px;
        margin-right: 20px;
        fill: white;
        opacity: 0.4;
    }
}