section {

	background-size: cover;
	background-position: bottom;
	padding: $padding-default 0;

	&.light {
	
		background: $background-color;
		color: $text-color;

	}

	&.dark {

		background-color: $background-dark;
		color: $text-light;

	}

	h1 {

		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
		font-size: 18;

	}

}

@import 
	"header",
	"footer",
	"home"